<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
       <h1>{{about | majuscule}}</h1>
       <p>{{ this.contact }}</p>
       <hr/>
       <div>
           S'inscrire à une newletter: 
           <input type="text" placeholder="Votre email" v-model="emailForNewsLetter" />
           <button v-bind:disabled="emailAddressInvalid">S'inscrire</button>
       </div>
       <div>
           <h2>Votre avis</h2>
           <input type="text" placeholder="Votre avis" v-model="opinion"/>
           <span>{{opinionResult}}</span>
       </div>
    </div>
    <script>
     
        Vue.component('my-card',{
        });
        var vm = new Vue({
            el: '#app',
            data:{
                about: "zakaria Boufares",
                email: "zakboite@gmail.com",
                phone: "06 95 79 02 22",
                emailForNewsLetter: '',
                opinion: "",
                opinionResult: ""
            },
            filters: {
                majuscule: function(value){
                    return value.toUpperCase()
                }
            },
            computed: {
                contact: function () {
                    return 'email '+this.email+' Tél : '+this.phone;
                },
                emailAddressInvalid: function(){
                    if(this.emailForNewsLetter.length < 5){
                        return true;
                    }else{
                        return false;
                    }
                }
            },
            watch: {
                opinion: function(value){
                    console.log(value)
                    if(value === "zakaria"){
                        this.opinionResult = "NO c'est pas bon"
                    }else{
                        this.opinionResult = ""
                    }
                }
            }
        })
    </script>
</body>
</html>