<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        {{course}} -- {{date}}
        <img v-bind:src="url" height="70px" width="70px"/>
        <hr/>
        <input type="text" placeholder="Votre Nom" v-model="votreNom"/> {{votreNom}}
        <hr/>
        <h2>{{title}}</h2>
        <form v-on:submit.prevent="addTask()">
            <input type="text" placeholder="Tache a faire" v-model="task"/>
            <button type="submit">Ajouter</button>
        </form>
        <ul>
            <li 
            v-on:click="task.done = !task.done"
            v-bind:class="{completed: task.done}"
            v-for="task in tasks"
            >
                <span v-if="!task.isInEditMode">
                    <i class="fa fa-edit" v-on:click="switchMode(task)"></i>{{task.description}}
                </span>
                <span v-else>
                    <i class="fa fa-thumbs-o-up" v-on:click="switchMode(task)"></i>
                    <input type="text" v-model="task.description"/>
                </span>
            </li>
        </ul>
        
        
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                course: 'Vue js 2',
                date : Date.now(),
                url: "https://vuejs.org/images/logo.png",
                votreNom: "",
                title: "A faire",
                task: null,
                tasks: []
            },
            methods: {
                addTask: function(){
                    this.tasks.push({
                        id: Date.now(),
                        description: this.task,
                        done: false,
                        isInEditMode: false
                    });
                    this.task = '';
                },
                switchMode: function(task){
                    task.isInEditMode = !task.isInEditMode;
                }
            }
        })
    </script>
</body>
</html>